<div class="btn-group btn-group-xs createSetDropdown">
    <button type="button" class="btn btn-primary btn-xs addSetButton"
            data-toggle="tooltip" title="New Set" {{disabled}}>
        <span title="New Set" class="fa fa-plus"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" title="New Set"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#with selectedOption}}
        <span class="createSetSelectionTitle">
            {{~title~}}
            {{#if description}}
                <small> ({{description}})</small>
            {{/if}}
        </span>
        {{/with}}
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    {{#each options}}
        <li class="createSetDropdownOption" data-attributes="{{json this}}" data-id="{{id}}">
            <a tabindex="-1" href="#">{{~title~}}
            {{#if description}}
                <small> ({{description}})</small>
            {{/if}}</a>
        </li>
    {{/each}}
    </ul>
</div>
