<div class="topMenu setEntry row {{selectionClass}}">
    <div class="col-md-10 labelArea">
        <a href="#"><i class="label label-info fa fa-tag tagButton"
                       data-toggle="tooltip" data-placement="right" title="Tag">
            {{#if title~}}
                {{~title~}}
            {{~else~}}
                (unnamed)
            {{/if~}}
        </i></a>
        {{#if description}}
            <span class="setDescription muted"><i>{{description}}</i></span>
        {{/if}}
    </div>
    <div class="col-md-1 typeIndicator">
        <!-- TODO place an icon here for selection, filter, etc. -->
        <!-- <i class="setTypeIndicator fa {{setTypeClass}}"></i> -->
    </div>
    <div class="col-md-1 deleteButton">
        <a href="#">
            <i class="fa fa-close deleteSetButton"
               data-toggle="tooltip" title="Delete Set"></i>
        </a>
    </div>
</div>
