<div class="topMenu row">
    <div class="col-xs-10">
        <form class="exclusionEditor form-horizontal">
            <div class="row form-group" title="Expression">
                <!--
                <textarea class="form-control exclusionExpression" id="exclusionExpression{{id}}" name="expression" title="Exclusion expression"
                      rows="2" cols="40" placeholder="{{model.placeholder}}">{{model.expression}}</textarea>-->
                <div class="form-control exclusionExpression" id="exclusionExpression{{id}}"
                     data-toggle="tooltip" title="Exclusion expression"></div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 disableButton">
        <a href="#">
            <i class="fa fa-toggle-on disableExclusionButton" data-toggle="tooltip" data-placement="right" title="Enabled" cid="{{id}}"></i>
        </a>
    </div>
    <div class="col-xs-1 deleteButton">
        <a href="#">
            <i class="fa fa-close deleteExclusionButton" cid="{{id}}"
               data-toggle="tooltip" data-placement="right" title="Delete Exclusion"></i>
        </a>
    </div>
</div>
