<!--
<div class="topMenu grab-cursor" draggable="true">
    <a href="#">
        <i class="fa fa-caret-right filterButton expandFilterButton" id="expandFilterButton{{id}}" cid="{{id}}"></i>
    </a>
</div>
-->
<div class="row">
    <div class="col-xs-5">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="addFilterButton" data-toggle="dropdown" aria-expanded="true">
                Add Filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu{{id}}">
                {{#each fields}}
                <li role="presentation"><a class="addFilterDropdownField" role="menuitem" tabindex="-1" href="#"
                        data-attributes="{{json this}}">
                    {{#if dataType}}
                    {{name}} ({{dataType}})
                    {{else}}
                    {{name}}
                    {{/if}}
                </a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-xs-7">
        <a class="filter-about" href="#" data-toggle="tooltip" data-placement="bottom" title="To use,
1. Pick field to filter on from dropdown.
2. Enter an ANSI SQL expression over that field (but no other).
Note: this release does not support expressions with multiple fields nor changing which field a filter acts over."
            ><i class="fa fa-question-circle"></i></a>
    </div>
</div>
<!--
<div class="col-xs-1 filterButton closeButton">
    <a href="#">
        <i class="fa fa-times filterButton closeFilterButton" id="closeFilterbutton{{id}}" cid="{{id}}"></i>
    </a>
</div>
-->
