<div class="topMenu row">
    {{#if model.isSystem}}
        <div class="col-xs-12 full-column">
    {{else if model.controlType}}
        <div class="col-xs-12 full-column">
    {{else}}
        <div class="col-xs-10">
    {{/if}}
        <form class="filterEditor form-horizontal">
            <div class="form-group-sm" title="Data Type">
                <label class="control-label" for="filterDataType{{id}}">Data Type</label>
                <span class="form-control-static">{{model.dataType}}</span>
                <select class="filterDataTypeSelector form-control hidden" id="filterDataType{{id}}" title="Data Type">
                    <option value="">(Unknown)</option>
                    {{#each dataTypes}}
                    {{#if selected}}
                        <option value="{{name}}" selected="selected">{{name}}</option>
                    {{else}}
                        <option value="{{name}}">{{name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
            <div class="form-group-sm" title="Control Type">
                <label class="control-label" for="filterControlType{{id}}">Control Type</label>
                <span class="form-control-static">{{model.controlType}}</span>
                <select class="filterControlTypeSelector form-control hidden" id="filterControlType{{id}}" title="Control Type">
                    <option value="">(Unknown)</option>
                    {{#each controlTypes}}
                    {{#if selected}}
                        <option value="{{value}}" selected="selected">{{name}}</option>
                    {{else}}
                        <option value="{{value}}">{{name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
            <div class="row form-group" title="Expression">
                <!--
                <textarea class="form-control filterExpression" id="filterExpression{{id}}" name="expression" title="Filter expression"
                          rows="2" cols="40" placeholder="{{model.placeholder}}">{{model.expression}}</textarea>-->
                <div class="form-control filterExpression" id="filterExpression{{id}}"
                     data-toggle="tooltip" data-placement="right" title="Filter expression"></div>
            </div>
        </form>
    </div>
    {{#unless model.isSystem}}
    <div class="col-xs-1 disableButton">
        <a href="#">
            <i class="fa fa-toggle-on disableFilterButton"
               data-toggle="tooltip" data-placement="right" title="Enabled" cid="{{id}}"></i>
        </a>
    </div>
    <div class="col-xs-1 deleteButton">
        <a href="#">
            <i class="fa fa-close deleteFilterButton" cid="{{id}}"
               data-toggle="tooltip" title="Delete Filter"></i>
        </a>
    </div>
    {{/unless}}
</div>
